.slider-tapered {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 20px;
    width: 160px;
    border-radius: 8px;
    min-width: 150px;
    position: relative;
    background: linear-gradient(90deg,
            transparent 0%,
            color-mix(in srgb, var(--foreground) 30%, transparent) 100%);
    transition: background 0.2s;
    border: 1px solid var(--color-foreground-05);
}

.slider-vertical {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 8px;
    width: 120px;
    border-radius: 8px;
    min-width: 120px;
    position: absolute;
    transform-origin: center center;
    transform: rotate(-90deg) translateX(4px) translateY(-54px);
    left: 50%;
    top: 50%;
    background: var(--color-background-07);
    border: 1px solid var(--color-foreground-07);
}

.slider-tapered:hover {
    background: linear-gradient(90deg,
            transparent 0%,
            color-mix(in srgb, var(--foreground) 40%, transparent) 100%);
}


/* Webkit browsers (Chrome, Safari, Edge) */
.slider-tapered::-webkit-slider-track,
.slider-vertical::-webkit-slider-track {
    background: transparent;
    height: 20px;
    width: 100%;
    border: none;
}

.slider-vertical::-webkit-slider-thumb,
.slider-tapered::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--foreground);
    height: 28px;
    width: 8px;
    border-radius: 4;
    cursor: grab;
}

.slider-tapered::-webkit-slider-thumb:active,
.slider-vertical::-webkit-slider-thumb:active {
    cursor: grabbing;
}

/* Firefox */
.slider-tapered::-moz-range-track,
.slider-vertical::-moz-range-track {
    background: transparent;
    height: 20px;
    width: 100%;
    border: none;
}

.slider-tapered::-moz-range-thumb,
.slider-vertical::-moz-range-thumb {
    background: var(--foreground);
    height: 32px;
    width: 3px;
    border: none;
    border-radius: 0;
    cursor: grab;
}

.slider-tapered::-moz-range-thumb:active,
.slider-vertical::-moz-range-thumb:active {
    cursor: grabbing;
}

.anchor-cell-size {
    anchor-name: --anchor-cell-size;
    text-align: center;
}

.cell-slider {
    position: absolute;
    position-anchor: --anchor-cell-size;
    top: calc(anchor(bottom) + 4px);
    left: anchor(center);
    transform: translateX(-50%);
}

.anchor-brush {
    anchor-name: --anchor-brush;
    text-align: center;
}

.brush-slider {
    position: absolute;
    position-anchor: --anchor-brush;
    top: calc(anchor(bottom) + 4px);
    left: anchor(center);
    transform: translateX(-50%);
}

.anchor-image-controls {
    anchor-name: --anchor-image-controls;
    text-align: center;
}

.image-controls-popover {
    position: absolute;
    position-anchor: --anchor-image-controls;
    top: calc(anchor(bottom) + 4px);
    left: anchor(center);
    transform: translateX(-50%);
}
